.navbarContainer{
            padding: 10px;
            border-width: 0px;
            border-bottom-width: 1px;
            border-color: rgb(209, 204, 204);

            border-style: solid;
        }
        .navHeading{
            font-family: "Roboto";
            font-weight: bold;
            padding-right: 30px;
            padding-left: 10px;
        }
        .cart{
            margin-left: 120%;
        }
        .profile-image{
            margin-left: 40%;
            margin-bottom: 10%;
        }
        .profile-image:hover{
            background-color:orange;
        }
        .basket:hover{
            background-color:orange;
        }
        .card-1{
            height: 300px;
            margin-top: 50px;
            border-radius: 20px;
            object-fit: contain;
        }
        .card-2{
            height: 300px;
            margin-top: 10%;
        }
        .Image1{
            height: 300px;
            width: 100%;
            border-radius: 14px;
        }
        .common{
            height: 79px;
            margin-top: 30px;
            margin-left: 10px;
            width: 22%;
            border-radius: 14px;
        }
        .layer {
            background-color: rgba(247, 246, 239, 0.7);
            height: 79px;
            width: 100%;
            border-radius: 14px;
            border-style: solid;
            border-width: 2px;
            border-color: orange;
        }
        .s1{
            background-image: url('https://img.freepik.com/free-photo/pair-white-male-sneakers-orange-background-stylish-shoes-isolated_77190-5487.jpg');
            background-size: cover;
        }
        .s2{
            background-image: url('https://img.freepik.com/free-photo/sporty-blue-sneakers-pair-orange-background-jogging-shoes_474717-18461.jpg');
            background-size: cover;
        }
        .s3{
            background-image: url('https://as2.ftcdn.net/v2/jpg/02/74/05/61/1000_F_274056151_ps0ZnjxiaakWzJol8dnpx4BxmBj0Dh6t.jpg');
            background-size: cover;
        }
        .s4{
            background-image: url('https://images.unsplash.com/photo-1631087606988-a6be38fccaf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=827&q=80');
            background-size: cover;
        }
        .Paragraph{
            color: gray;
            font-size: 15px;
        }
        .Num-item{
            background-color: rgb(234, 230, 230, 0.5);
            width: 36%;
            text-align: center;
            margin-right: 10px;
            padding-top: 5px;
            border-radius: 8px;
            font-weight: bold;
        }
        #profile1{
            display: flex;
        }
        #profile2{
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .card-1{
                height: 300px;
                object-fit: contain;
            }
            .card-2{
                height: 300px;
                margin-top: 40%;
            }
            #profile1 {
                display: none;
            }
            #profile2 {
                display: flex;
            }
        }